.card-body{
    background-color: #111840;
    border-radius: 30px; 
    box-shadow: 20px 10px 10px rgb(92, 91, 91);
}
.btn{
    font-size: 1.3em; 
    width: 40%;
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
.btn:hover{
    background-color: #008CBA;
    Color: white;
}
.form-check{
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 4%;
}